html {
	overflow-x: hidden;
}
body {
	background: url(../img/bg.jpg) 0 0 repeat;
	background-attachment: fixed;
}
@media (min-width: 301px) and (max-width: 1025px) {
	body {
		background-color: #cccccc;
		background-image: none;
	}
}
body.bg-large {background: url(../img/bg_large.jpg) 0 0 repeat;}
#header {background: #fff; padding-bottom: 10px; overflow: hidden;border-top:3px solid #2c333e;}

input.input-grey, select.input-grey {background: #8d9196; color: #fff; border: 0;}
.span6.input-grey {
	height: 22px;
}
input.input-grey::-webkit-input-placeholder {
	color: #fff;
}
input.input-grey::-moz-input-placeholder {
	color: #fff;
}
input.input-grey::-ms-input-placeholder {
	color: #fff;
}
input.input-grey::-o-input-placeholder {
	color: #fff;
}
.btn-with-arrow {line-height: 14px; font-weight: 700; padding: 11px 16px; text-shadow: 1px 1px 5px rgba(102, 93, 97, 1); color: #fff; background: #ff9908 }
.btn-category {
	padding: 9px !important;
	color: #fff !important;
}
.btn-with-arrow:after {background: url(../img/pl_btn_arrow.png) 10px 50% no-repeat; content: "\00a0"; width: 30px; display: inline-block;}
.btn-with-arrow.arrow-cancel:after {background: url(../img/pl_btn_cancel.png) 10px 50% no-repeat; width: 30px;}
.btn-with-arrow.arrow-basket:after {background: url(../img/pl_btn_basket.png) 10px 50% no-repeat; width: 30px;}
.btn-with-arrow.arrow-basket-big {font-size: 18px;}
.btn-with-arrow.arrow-basket-big:after {background: url(../img/pl_btn_basket_big.png) 10px 50% no-repeat; width: 40px;}
.btn-with-arrow.btn-info { background-color: #17b7b5;}
.btn-with-arrow.btn-inverse { background-color: #353c46;}
.btn-with-arrow.shadow {position: relative;}
.btn-with-arrow.shadow:before {position: absolute; bottom: -12px; left: 2%; background: url(../img/pl_shadow.png) 0 0 no-repeat; height: 10px; width: 100px; content:""}
.img-left {float: left; margin: 10px 10px 10px 0;}
.btn-big {padding: 8px 15px;}
.pt20 {padding-top: 20px;}
.mr20 {margin-right: 20px;}
.mr50 {margin-right: 50px;}
.mb20 {margin-bottom: 20px;}

.gmap {width:100%; height:100%; min-height:500px;}
.gmap img{max-width: inherit;}
.gmap_image img {max-width:100%;}

.ul-yellow-arrow {list-style-image: url(../img/ar_y_r_min.png)}

.panel-call {background: #2c333e; color: #87898c; padding: 5px 16px; margin-bottom: 10px; position: relative; font-family: arial;}
.panel-call span {font-weight: bold;}
.panel-call:after {position: absolute; top: 0; left: 100%; background: #2c333e; width: 1000px; height: 30px; content: "";}

.header-menu {border-left: 1px solid #d9d9d9; float: left; padding-right: 20px;}
.header-menu.header-menu-right {border-right: 1px solid #d9d9d9; padding-right: 10px;}
.header-menu ul {list-style: none; margin-left: 14px; margin-bottom: 0;}
.header-menu ul a {color: #a2a2a2;}
.header-menu ul .active {list-style: url(../img/ar_y_r_min.png);}

table tbody tr.alt > td {background-color: #DFDFDF;}

#second-header { margin-bottom: 0px;}
#second-header .container {background: url(../img/head_bg.png) 0 0 repeat-x; position: relative;}
#second-header .container:before {position: absolute; margin-left: -110px; top: 0; left: 0; background: url(../img/head_bg_l.png); width: 110px; height: 44px; content: "";}
#second-header .container:after {position: absolute; top: 0; left: 100%; background: url(../img/head_bg_r.png); width: 131px; height: 44px; content: "";}
@media (min-width: 301px) and (max-width: 1025px) {
	#second-header .container:after,
	#second-header .container:before {
		width: 33px;
		max-width: 33px;
	}
}
#second-header .form-inline {margin-bottom: 0; padding-top: 8px;}
#second-header .form-inline button.btn {background: #eeeeee url(../img/ico_search.png) 50% 50% no-repeat; text-indent: -999999px; width: 35px;}
#second-header ul {margin-bottom: 0;}
#second-header ul a {color: #bbb; font-size: 16px;}
#second-header ul li.active {border-bottom: 3px solid #feb61d; background: #464e5a;}
#second-header ul li {padding: 10px;}
#second-header .menu-legend {color: #7c7f84; font-size: 16px; background: #202630; padding: 12px 15px; float: left; display: inline-block}

.panel-black-header .container {background: url(../img/bg_tablet_header.jpg) 0 0 repeat-x; margin-bottom: 20px;}
.panel-black-header.nom .container {margin-bottom: 0;}
.panel-black-header .panel-black-header-basket p {margin: 0; padding: 10px 50px 10px; font-size: 14px; color: #fff; background-image: url(../img/ico_basket_white.png); background-position: 98% 50%; background-repeat: no-repeat; text-align: right; }
.panel-black-header .panel-black-header-basket p .text-warning{font-weight: bold; }
.panel-black-header .panel-black-header-search .btn-info {display: none;width: 100%; padding: 12px 0; background-image: url(../img/ico_search_white.png); background-position: 50% 50%; background-repeat: no-repeat; text-indent: -99999px;}
.panel-black-header .panel-black-header-search  {position: relative;}
.panel-black-header .panel-black-header-search  .form-horizontal {
	display: block;
	position: absolute;
	bottom: -63px;
	left: -450px;
	z-index: 9;
	padding: 5px;
}
.panel-black-header .panel-black-header-search  {position: relative;}
.panel-black-header .panel-black-header-search  .form-horizontal input {width: 200px; padding: 6px 8px;}
.panel-black-header .panel-black-header-search  .form-horizontal .btn-inverse {background: #a1a1a1; color: #fff; font-weight: bold; padding: 6px 12px;}
.panel-black-header h4 {color: #fff; padding-left: 10px; padding-top: 10px; margin: 0; font-weight: normal;}

.select-account button.btn-large {font-family: arial; font-size: 14px;}

.basket-box {font-size: 16px; font-weight: bold; background: #f1a01a; margin-top: 10px;}
.basket-box span {padding-top: 8px;}
.basket-box .amount {display: inline-block; color: #000; padding-left: 16px;}
.basket-box .items { display: inline-block; color: #fff; margin-right: 10px;}
.basket-box .btn-basket {display: inline-block; background: #f1a01a; padding: 2px;}
.basket-box .btn-basket .btn {background: #eeeeee url(../img/ico_basket.png) 50% 50% no-repeat; text-indent: -99999px;}

#main {overflow: hidden;margin-top: 0px; }
#main.main-visible {overflow: visible; }

.categories-buttons {margin: 10px 0 20px; position: relative;}
.categories-buttons > .btn {text-align: center; padding: 15px 0; width: 50%;}
.categories-buttons .btn-info span {background-image: url(../img/ico_filters.png); background-position: 0 0; background-repeat: no-repeat; width: 18px; height: 17px; content:""; padding-right: 8px;; display: inline-block; position: relative; top: 3px;}
.categories-buttons .btn-inverse span {background-image: url(../img/ico_categories.png); background-position: 0 0; background-repeat: no-repeat; width: 21px; height: 17px; content:""; padding-right: 8px;; display: inline-block; position: relative; top: 3px;}
.categories-buttons .categories-container {display: none; background: #2b313b; padding: 15px; border-top: 2px solid #272c35;}
.categories-buttons .categories-container li {text-align: left; margin-bottom: 5px;}
.categories-buttons .categories-container a {color: #fff;}
.categories-buttons .btn-group {width: 100%;}
.categories-buttons .btn-group .span12 {width: 50%;}
.categories-buttons .btn-group .btn {margin-left: 0;}
.categories-buttons {}
.categories-buttons .filters-container {display: none; background: #17b7b5; padding: 15px; border-top: 2px solid #15a4a3; color: #117675; text-align: left;}
.categories-buttons .filters-container .filters span {color: #353c48; background: url(../img/ar_y_r_min.png) 0 50% no-repeat; padding-left: 15px; margin-bottom: 10px;}
.categories-buttons .filters-container .filters {border-bottom: 2px solid #8cd4d3; padding-bottom: 15px;}
.categories-buttons .filters-container .filters .filters-content {padding-left: 15px;}
.categories-buttons .filters-container .filters input {background: #fff; margin-bottom: 0;}
.categories-buttons .filters-container {}
.categories-buttons .filters-container .selected-filter {color: #fff; background: #82d2d1; border: 1px solid #149e9c; border-width: 0 1px 1px 0; padding: 5px 8px; font-size: 12px; margin-bottom: 5px;}
.categories-buttons .filters-container .selected-filter span {font-weight: bold; color: #353C48;}
.categories-buttons .filters-container .selected-filter .cancel {content: ""; text-indent: -999px; display: inline-block; width: 9px; padding-right: 5px; background: url(../img/cancel.png) 0 50% no-repeat;}
.categories-buttons .filters-container .buttons {border-top: 1px solid #14a3a1; padding: 15px 0; margin-top: 15px;}
.categories-buttons .filters-container .buttons .btn {width: auto; margin-right: 15px;}
.categories-buttons .filters-container .buttons .btn-with-arrow.shadow:before {width: 70px;}


.panel-filter {background: #dedede; padding-bottom: 30px; border: 1px solid #c5c5c5; border-width: 0 1px 1px 0; position: relative;}
.panel-filter .bg {background: #dedede; position: absolute; top: 0; left: 0; margin-left: -500px; width: 500px;  height: 100%;}
.panel-filter .head {width: 190px; background: #353c48; padding: 10px 0; text-align: center; margin-bottom: 15px;}
.panel-filter .head h4 {color: #d7d8da; margin: 0;}
.panel-filter .selected-filter {
	color: #8c8c8c;
	display: table;
	float: none;
	clear: right;
	width: auto;
	background: #ececec;
	border: 1px solid #fff;
	padding: 5px;
	font-size: 13px;
	margin-bottom: 5px;
}
.panel-filter .selected-filter span {font-weight: bold; color: #353C48;}
.panel-filter .selected-filter .cancel {content: ""; text-indent: -999px; display: inline-block; width: 9px; padding-right: 5px; background: url(../img/cancel.png) 0 50% no-repeat;}
.panel-filter {}
.panel-filter ul.filters { margin-left: 0px; list-style: none; border-top: 2px solid #feb61d; margin-top: 15px; padding-top: 15px;}
.panel-filter ul.filters.nob {border-top: 0; padding-top: 0;}
.panel-filter ul.filters li {border-bottom: 2px solid #feb61d; margin-bottom: 15px; padding-bottom: 15px;}
.panel-filter ul.filters li span {font-weight: bold; background: url(../img/ar_y_r.png) 0 50% no-repeat; padding-left: 20px;color: #47474f;}
.panel-filter ul.filters li div {color: #666; margin-top: 5px; padding-left: 15px;}
.panel-filter ul.filters li #filters-colour, .panel-filter ul.filters li #filters-size {max-height: 75px;}
.panel-filter ul.filters input {background: #fff; border: 1px solid #b6b8ba; color: #353C48; margin-bottom: 0;}
.panel-filter ul.filters input.input-mini {width: 40px;}
.panel-filter .buttons .btn {position: relative; line-height: 14px; margin-top: 10px; font-weight: 700; padding: 7px 30px 7px 10px; color: #fff;}
.panel-filter .buttons .btn-warning {background: #ff9908 url(../img/pl_btn_arrow.png) 92% 50% no-repeat;}
.panel-filter .buttons .btn-info {background: #17b7b5 url(../img/pl_btn_cancel.png) 92% 50% no-repeat;}
.panel-filter .buttons .btn:after {background: url(../img/pl_shadow_min.png) 50% 100% no-repeat; position: absolute; top: 107%; left: 0; content: ""; height: 10px; width: 70px;}

.panel-sort {}
.panel-sort .row-fluid.head {color: #d7d8da;}
.panel-sort .row-fluid {background: #d9d9d9; }
.panel-sort .row-fluid.border {border-top: 1px solid #fff;}
.panel-sort .row-fluid.head {background: #353c48; padding-top: 10px;}
.panel-sort .row-fluid.head.nop {padding-top: 0;}
.panel-sort .head h3 {color: #d7d8da; font-size: 18px; margin: 0; line-height: 20px; font-weight: normal; padding-left: 10px;}
.panel-sort .head .text-right {padding-right: 10px;}
.panel-sort .panel-sort-viewby {vertical-align: top; padding-bottom: 3px; padding-top: 10px;}
.panel-sort .panel-sort-viewby a.horizontal {background: url(../img/ico_sort_w.png) 50% 50% no-repeat; }
.panel-sort .panel-sort-viewby a.vertical {background: url(../img/ico_sort_h.png) 50% 50% no-repeat;}
.panel-sort .panel-sort-viewby a {width: 18px; height: 18px; display: inline-block; content: ""; padding: 2px; margin-left: 5px;}
.panel-sort .panel-sort-viewby a.active {border: 1px solid #aeaeae;}
.panel-sort .panel-sort-viewby span {top: -8px; position: relative; padding-left: 10px;}
.panel-sort .panel-sort-select {padding-top: 6px; padding-bottom: 6px; padding-right: 10px;}
.panel-sort .row-fluid .panel-sort-select select {margin: 0 10px 0 10px;  background: #8f9297;}
.panel-sort .panel-sort-select select.span2 {width: 50px;}
.panel-sort .panel-sort-pagination {background: #fff; padding: 10px 0 5px 0;}
.panel-sort .panel-sort-pagination.grey {background: #d9d9d9;}
.panel-sort .panel-sort-pagination .pagination {margin: 0;}
.panel-sort .panel-sort-pagination .pagination .arrow a {font-size: 18px;}
.panel-sort .panel-sort-search .form-inline {margin-bottom: 0; padding-top: 8px; padding-left: 10px;}
.panel-sort .panel-sort-search .form-inline .input-append {padding-left: 10px;}
.panel-sort .panel-sort-search .form-inline button.btn {background: #eeeeee url(../img/ico_search.png) 50% 50% no-repeat; text-indent: -999999px; width: 35px;}
.panel-sort .panel-sort-menu ul {margin-bottom: 0;}
.panel-sort .panel-sort-menu li a {color: #fff; font-weight: 600;}
.panel-sort .panel-sort-menu li {padding: 10px;}
.panel-sort .panel-sort-menu li.active {background: #17b7b5;}
.panel-sort .panel-sort-menu {}
.panel-sort .panel-sort-text-left {padding: 10px 0 0 10px;}

.panel-text-header {background: #232934; padding: 0; margin-top: 20px;}
.panel-text-header.panel-text-header-big {padding: 10px;}
.panel-text-header h3 {display: inline-block; color: #fff; font-size: 18px; margin: 0; padding: 10px 20px; background: #2f3641; position: relative; font-weight: 600;}
.panel-text-header h3:after {background: url(../img/panel_corner.png) 0 0 no-repeat; content: ""; width: 40px; height: 60px; position: absolute; top: 0; right: -40px;}
.panel-text-header .panel-text {padding-top: 5px;}

.panel-text-header.panel-text-header-wizard {background: #c0c1c1;}
.panel-text-header.panel-text-header-wizard h3 {color: #f1a01a; background: #e7e7e7;}
.panel-text-header.panel-text-header-wizard.disabled h3 {color: #8d9196;}
.panel-text-header.panel-text-header-wizard h3:after {background: url(../img/panel_wizard.png) 0 0 no-repeat; width: 37px; right: -37px;}

.panel-text-white {background: #fff; font-weight: 600; padding: 10px 20px;}

.panel-menu {}
.panel-menu ul {background: #f9f8f8; margin-bottom: 0; border-bottom: 1px solid #dfdfe0;}
.panel-menu ul li {padding: 11px 25px; background: url(../img/panel_menu_corner.png) 100% 0 no-repeat; padding-right: 50px;}
.panel-menu ul li a {color: #ff9908; font-weight: 600;}

.main-home-page {background: url(../img/main_bg_white.jpg) 0 372px repeat-x; }

.main-slider-example {background: url(../img/tmp/slider.jpg) 100% 0 no-repeat; padding-top: 20px; padding-bottom: 40px; position: relative;}
.main-slider-example .main-slider-example-content {width: 40%; background: url(../img/tmp/slider_kask.png) -30px 150px no-repeat; margin-left: 10px;}
.main-slider-example h1 {font-size: 52px; line-height: 68px; font-weight: normal; margin: 0;}
.main-slider-example p {font-size: 18px; margin-bottom: 40px;}
.main-slider-example .text {margin-bottom: 30px;}
.main-slider-example .price {position: relative; margin-left: 160px; background: url(../img/slider_price_bg_r.png) 100% 0 no-repeat; display: inline-block; font-weight: bold; font-size: 40px; line-height: 46px; color: #353c48; padding-right: 19px; margin-bottom: 70px;}
.main-slider-example .price:before {background: url(../img/slider_price_bg_l.png) 0 0 no-repeat; width: 19px; height: 51px; position: absolute; top: 0; left: -19px; content:""}
.main-slider-example .price span {background: #feb61d; padding: 3px 20px 2px 0; display: inline-block;}
.flexislider .main-slider-example img.img-kask {position: absolute; top: 300px; left: 100px; width: 213px; height: 133px;}
.main-slider-example .category {margin: 0;position: relative; text-align: right; background: url(../img/price_corner_r.png) 100% 0 no-repeat; display: inline-block; font-weight: bold; font-size: 16px; line-height: 20px; color: #353c48; padding-right: 9px;}
.main-slider-example .category span {background: #feb61d; padding: 4px 10px 3px 10px; display: inline-block;}
.main-slider-example .sale {margin-bottom: 5px;margin-left: 200px;display: inline-block; background: url(../img/sale_corner.png) 100% 0 no-repeat; font-weight: bold; font-size: 14px; line-height: 19px; padding-right: 9px;}
.main-slider-example .sale span {background: #17b7b5; color: #fff; padding: 1px 10px; display: inline-block;}


#products-carousel {position: relative; margin-bottom: 15px;}
.products-list {margin-top: 20px; background: #fff;}
ul.products-list {z-index: 1;}
ul.products-list li {list-style: none;}
.products-list.nom {margin-top: 0;}
.products-list .products-list-product {position: relative; border-right: 1px solid #d3d5d8; text-align: center; background: url(../img/pl_shadow.png) 50% 100% no-repeat; padding-bottom: 3px; margin-bottom: 10px;}
.products-list .products-list-product.last {border-right: 0;}
.products-list .products-list-product .foto {margin: 1em 0; margin-bottom: 15px; height: 110px; position: relative;}
.products-list .products-list-product .foto img {max-height: 100%; max-width: 100%; width: auto; height: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto;}
.products-list .products-list-product .product-info {}
.products-list .products-list-product p.stat {margin-bottom: 0;font-size: 12px;	font-weight: 900;color: #353c48;}
.products-list .products-list-product a.btn {margin-top: 10px;}
.products-list .products-list-product .title {
	font-size: 12px;
	line-height: 18px;
	font-weight: 900;
	height: 93px;
	max-height: 93px;
	overflow-y: hidden;
	margin: 0 25px 0 15px;
	border-bottom: 3px solid #ff9908;
	display: block;
	position: relative;
	word-wrap: break-word;
}
.products-list .products-list-product .price {background: url(../img/price_corner.png) 0 0 no-repeat; font-weight: bold; font-size: 18px; line-height: 21px; position: absolute; right: 0; top: 90px;  padding-left: 9px; color: #353c48;}
.products-list .products-list-product .price span {background: #feb61d; padding: 1px 10px; display: inline-block;}
.products-list .products-list-product .sale {display: inline-block; background: url(../img/sale_corner.png) 100% 0 no-repeat; font-weight: bold; font-size: 14px; line-height: 19px; position: absolute; right: 20px; top: 65px;  padding-right: 9px;}
.products-list .products-list-product .sale span {background: #17b7b5; color: #fff; padding: 1px 10px; display: inline-block;}
.products-list-arrows {}
.products-list-arrows a {display: block; position: absolute; top: 10%; background: #353c48; font-size: 40px; color: #fff; padding: 7px 8px 12px 8px ; z-index: 9;}
.products-list-arrows a.products-slide-left {left: 0;}
.products-list-arrows a.products-slide-right {right: 0;}
.products-list-arrows a:hover {text-decoration: none; color: #ff9908;}

.bestseller-header.inline {margin-bottom: 0;}
.bestseller-header.inline li {padding-left: 0;}
.bestseller-header.inline li:last-child {padding-right: 0;}
.bestseller-header li.see-more span {position: relative; bottom: 7px;}
.bestseller-header em {font-weight: bold;}
.bestseller-header a {display: inline-block; font-size: 40px; background: #353c48; color: #fff; padding: 6px 10px 11px 10px; margin-left: 10px;}

.bestsellers-list > li {width: 156.5px;}
.bestsellers-list .products-list-product {position: relative; margin-bottom: 10px;}
.bestsellers-list .products-list-product .foto {border-right: 1px solid #c5c5c5; margin: 0; background: #fff; margin-bottom: 0; height: 150px; position: relative; border-bottom: 1px solid #d1d1d1;}
.bestsellers-list .products-list-product.last .foto {border-right: 0;}
.bestsellers-list .products-list-product .foto img {max-height: 100%; max-width: 100%; width: auto; height: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto;}
.bestsellers-list .products-list-product .price {background: url(../img/price_corner.png) 0 0 no-repeat; font-weight: bold; font-size: 18px; line-height: 21px; position: absolute; right: 0; top: 100px;  padding-left: 9px; color: #353c48;}
.bestsellers-list .products-list-product .price span {background: #feb61d; padding: 1px 10px; display: inline-block;}
.bestsellers-list .products-list-product .sale {display: inline-block; background: url(../img/sale_corner.png) 100% 0 no-repeat; font-weight: bold; font-size: 14px; line-height: 19px; position: absolute; right: 20px; top: 65px;  padding-right: 9px;}
.bestsellers-list .products-list-product .sale span {background: #17b7b5; color: #fff; padding: 1px 10px; display: inline-block;}
ul.inline.bestsellers-list li:first-child {margin-left: 0; padding-left: 0;}
ul.bestsellers-list > li {margin: 0; padding: 0;}

.bestsellers-list .title-list .title-list-number {float: left; width: 20px; background: url(../img/bg_number.png) 0 0 no-repeat; color: #fff; font-size: 16px; font-weight: bold; padding: 7px 5px 11px 5px;}
.bestsellers-list .title-list .title-list-right {margin-left: 25px;}
.bestsellers-list .title-list .title {font-weight: 600;}
.bestsellers-list .title-list .view-more {display: block; border-top: 1px solid #ff9908; padding-top: 3px; padding-right: 10px; font-weight: bold; text-align: right; background: url(../img/ar_y_r_min.png) 100% 60% no-repeat;}
.bestsellers-list .title-list {}
.bestsellers-list ul.inline.stars {position: absolute; right: 5px; top: 130px;}
.bestsellers-list ul.inline.stars li {background: url(../img/ico_star.png) 0 0 no-repeat; content:""; width: 19px; height: 18px; border: 0px solid red; padding: 0;}

.free-shipping-container {background: #f4f4f4 url(../img/bg_delivery.png) 100% 0 no-repeat; padding: 30px 0 60px 30px; position: relative;}
.free-shipping-container:before {position: absolute; top: 0; left: 0; margin-left: -10px; width: 10px; height: 280px; background: #f4f4f4;; content:"";}
.free-shipping-container:after {position: absolute; top: 0; left: 100%; width: 999px; height: 280px; background: url(../img/main_bg_white.jpg) 0 0 repeat-x; content:"";}
.free-shipping-container .shipping-header {border-left: 15px solid #feb61d; padding-left: 10px;}
.free-shipping-container .shipping-header h2 {padding-bottom: 20px; border-bottom: 1px solid #a5a5a5; font-size: 40px; font-weight: bold; display: inline-block; margin-bottom: 0; padding-right: 60px;}
.free-shipping-container .shipping-header h2 span {font-weight: normal;}
.free-shipping-container p {margin-left: 25px; font-size: 16px; margin-bottom: 0; width: 200px; display: block;}
.free-shipping-container p.text-head {margin-top: 20px; font-weight: bold;}

.newsletter-container {background: url(../img/bg_newsletter.png) 60% -20px no-repeat; padding: 30px 0 0 30px;}
.newsletter-container h2 {font-size: 28px; font-weight: bold; line-height: 30px;}
.newsletter-container h2 span {font-weight: normal;}
.newsletter-container .control-group {margin-bottom: 10px;}
.newsletter-container input[type="text"] {border: 2px solid #c7c7c7; border-width: 2px 0 0 2px; font-size: 16px; padding: 8px 12px;}
.newsletter-container .checkbox {font-weight: 600;}
.newsletter-container .checkbox a {text-decoration: underline;}
.newsletter-container .checkbox a:hover {text-decoration: none;}
.newsletter-container .btn-warning {font-weight: bold; font-size: 16px; padding: 9px 25px;}

.brands-container .thumbnails {margin-bottom: 0; margin-top: 20px;}
.brands-container .thumbnails li {background: #fff; margin-bottom: 0;}
.brands-container .thumbnails li img {padding: 15px 0;}
.brands-container .thumbnails li .thumbnail {height: 120px;}
.brands-container .thumbnails .caption {background: #353c48; padding: 5px 10px; color: #fff; font-size: 16px;}
.brands-container .thumbnails .caption .question {background: url(../img/ico_question.png) 0 50% no-repeat; content: ""; float: right; width: 16px; height: 16px; padding-top: 3px;}
.brands-container .thumbnails .caption .question {}

.row-grey {background: #dfdfdf;}
.column-wrapper {margin: 0 20px;}
.column-wrapper.allmargin {margin: 20px;}
.column-wrapper.nom {margin: 0;}
.column-wrapper.with-top-border {border-top: 2px solid #fff; padding-top: 15px; padding-left: 10px;}
.column-wrapper .column-wrapper-background {background: #f0f0f0; padding: 20px; margin: 20px; color: #2c333e;}
.column-wrapper .column-wrapper-background.nop {padding: 0;}
.column-wrapper .column-wrapper-background.nom {margin: 20px 0;}
.column-wrapper .column-wrapper-with-header {border: 1px solid #b3b5b7; border-top: 0; margin: 20px 0;}
.column-wrapper .column-wrapper-with-header.header-grey {border: 1px solid #babcbf;}
.column-wrapper .column-wrapper-header {background: #2b323d; padding: 10px; color: #fff; font-weight: 600;}
.column-wrapper .column-wrapper-with-header.header-grey .column-wrapper-header {background: #797e84;}
.column-wrapper .column-wrapper-content {padding: 10px;}

.table-white {border: 1px solid #fff;}
.table-white thead tr {background-color: #fff;}
.table-white tbody tr {background-color: #cfcfcf;}

.bg-white {background: #fff;}

.green-stat-box {background: #17b6b4; padding: 15px; color: #fff; font-size: 16px;}
.green-stat-box .last {border-top: 1px solid #fff; padding-top: 5px;}
.green-stat-box p span {text-align: right; padding-right: 50px;}
.green-stat-box p {display: block; text-align: right; margin-bottom: 5px;}

.checkout-list {background: #e2e2e2; display: table; width: 100%;}
.checkout-list .checkout-list-content-row.checkout-list-header {background-color: #fff; font-weight: 600;}
.checkout-list .checkout-list-content-row {background: #ececec; margin-bottom: 10px; display: table-row;}
.checkout-list .checkout-list-content-row-cell {vertical-align: middle; display: table-cell; padding: 10px;}
.checkout-list .checkout-list-content .checkout-list-content-row-cell:first-child  { border-left: 20px solid #e2e2e2;}
.checkout-list .checkout-list-content .checkout-list-content-row-cell:last-child  { border-right: 20px solid #e2e2e2;}
.checkout-list .checkout-list-header .checkout-list-content-row-cell {border-bottom: 20px solid #e2e2e2;}
.checkout-list .checkout-list-content .checkout-list-content-row-cell {border-bottom: 10px solid #e2e2e2;}
.checkout-list .checkout-list-header .checkout-list-content-row-cell:first-child {padding-left: 25px;}
.checkout-list .checkout-list-content-column-photo {background: #fff; text-align: center;}
.checkout-list .checkout-list-content-column-remove {text-align: center;}
.checkout-list .checkout-list-content-column-quantity {min-width: 80px;}
.checkout-list .checkout-list-content-row p {margin-bottom: 0; font-weight: 600; font-size: 16px; color: #2c333e;}
.checkout-list .checkout-list-content-row p.text-warning {font-size: 14px; color: #f1a01a; font-weight: 600;}
.checkout-list .text-desc {display: none;}

.checkout-summary {margin-top: 0;}
.checkout-summary dt {font-size: 24px; font-weight: 600; color: #a1a4a8; padding-top: 5px; width: 80px;}
.checkout-summary dd {margin-left: 100px; }
.checkout-summary dd p {margin-bottom: 0; font-weight: bold; font-size: 16px;}
.checkout-summary dd h2 {margin: 0; line-height: 28px;}

.additional-products {}
.additional-products .thumbnail {background: #fff; height: 150px; border-bottom: 1px solid #cbcbcb; margin-bottom: 5px; position: relative;}
.additional-products .thumbnail img {max-height: 100%; max-width: 100%; width: auto; height: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto;}
.additional-products .thumbnail .price {background: url(../img/price_corner.png) 0 0 no-repeat; font-weight: bold; font-size: 18px; line-height: 21px; position: absolute; right: 0; top: 100px;  padding-left: 9px;}
.additional-products .thumbnail .price span {background: #feb61d; padding: 1px 20px 1px 10px; display: inline-block;}
.additional-products .add-basket {font-weight: bold; border-top: 1px solid #feb61d; padding-top: 3px; display: block; margin-top: 20px;}
.additional-products .add-basket:after {background: url(../img/ar_y_r_min.png) 10px 50% no-repeat; content: "\00a0"; display: inline-block; width: 20px; height: 20px;}
.additional-products .caption {padding: 0 5px;}
.additional-products .caption p:first-of-type {font-weight: bold; height: 45px; overflow: hidden;}

.checkout-delivery {}
.checkout-delivery .span12:last-child .panel-text-white {position: relative;}
.checkout-delivery .span12:last-child .panel-text-white:before {position: absolute; background: #fff; width: 30px; height: 40px; content:""; margin-left: -30px; top:0; left: 0;}
.checkout-delivery .control-group {margin-bottom: 10px;}
.checkout-delivery label.checkbox {font-weight: 600; margin-bottom: 0;}
.checkout-delivery .text-warning {border-top: 1px solid #c9cacd; padding-top: 10px; margin-top: 10px; font-weight: 600;}

.product-card-header {background: #d8d8d8; border-bottom: 1px solid #9a9a9a; margin-bottom: 20px;}
.product-card-header h1 {padding: 10px 20px; margin: 0; color: #ffa914; font-weight: 600; font-size: 18px; background: #353c48; float: left;}
.product-card-header a {float: right; font-weight: 600; padding: 8px 10px 0 0;}
.product-card-header a .text-warning {font-weight: bold;}

.product-card-menu {margin-bottom: 20px;}
.product-card-menu .nav-tabs {margin-bottom: 0;}
.product-card-menu .nav-tabs a {font-size: 16px; font-weight: 600; text-transform: uppercase; padding: 20px; border: 1px solid #fff; border-width: 1px 1px 0 0; margin-right: 0px;}
.product-card-menu .nav-tabs li {margin-right: 0px; margin-bottom: 0;}
.product-card-menu .nav-tabs li:first-child a {border-left: 1px solid #fff;}
.product-card-menu .nav-tabs li.active:first-child a {border-left: 0;}
.product-card-menu .nav-tabs li.active {background: #fff;}
.product-card-menu .nav-tabs li.active a {color: #ffa914; background: #2f3641;}
.product-card-menu .tab-content {background: #e7e7e7; padding: 20px;}

.product-card-gallery {}
.product-card-gallery .product-gallery-preview {position: relative; height: 280px; padding: 5px 0; background: #fff url(../img/ico_preview.png) 98% 98% no-repeat; text-align: center; margin-bottom: 10px; }
.product-card-gallery .product-gallery-preview img {max-height: 100%; max-width: 100%; width: auto; height: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto;}
.product-card-gallery .thumbnail {background: #fff; padding: 5px; cursor: pointer;}
.product-card-gallery .slide-btn {display: block; font-size: 60px; line-height: 50px; color: #fff; background: #2f3641; padding: 0 7px 10px 7px;}
.product-card-gallery .slide-btn:hover {text-decoration: none; color: #ffa914;}

.product-detail {}
.product-detail .row-fluid {padding: 5px 0; margin-bottom: 10px; border-bottom: 1px solid #98999c;}
.product-detail .row-fluid.row-safety {border-bottom: 0; margin-top: 25px;}
.product-detail .row-fluid p {margin-bottom: 0; color: #fff; font-size: 15px; font-weight: 600;}
.product-detail .row-fluid p.text-inverse {color: #2c333e; font-weight: bold;text-shadow: none;}
.row-fluid.attrs-info-container p.text-inverse {padding: 0px 0px 3px 0px;}
.product-detail .row-fluid .text-white {color: #fff; font-size: 16px; font-weight: bold; padding-right: 5px;}
.product-detail .row-fluid .text-spr {font-weight: bold; padding-top: 3px;}
.product-detail .row-fluid .btn-price {padding: 12px 10px; font-weight: bold; font-size: 20px; margin-top: -9px;}
.product-detail .row-fluid .btn-price.btn-inverse {color: #f1a01a;}
.product-detail .row-fluid .filter-option {color: #95989d;}
.product-detail .row-fluid .btn-default {background: #fff;  border: 1px solid #98999c;}
.product-detail .row-fluid .text-quantity {padding-top: 7px;}
.product-detail .row-fluid .text-color {padding-top: 20px;}
.product-detail .row-fluid .text-size {padding-top: 20px;}
.product-detail .row-fluid .row-basket {margin-top: 20px;}
.product-detail .row-fluid .row-social {margin-top: 30px;}
.product-detail .row-fluid.row-safety .text-safety {font-size: 14px;}

.row-with-form {margin-bottom: 10px;}
.row-with-form .span-text {padding-top: 7px;}
.row-with-form .span-checkbox {padding-top: 3px;}

.profil-start .btn {margin-bottom: 5px;}

.form-inline-margin span {margin-bottom: 20px; display: inline-block;}

.black-short-header {border-top: 1px solid #fff;}
.black-short-header.nob {border-top: 0;}
.black-short-header h1 {background: #353c48; padding: 10px 20px; display: inline-block; color: #fff; margin: 0; font-size: 18px;}

.news-list {background: #dfdfdf; padding: 20px; margin-top: 10px;}
.news-list a.text-title {font-weight: 600; font-size: 17px; color: #29303b;}
.news-list .text-date {font-weight: 600; font-size: 13px; margin-top: 5px; color: #29303b; border-bottom: 1px solid #fff; padding-bottom: 5px;}
.news-list .text-date .text-warning {color: #f1a01a;}

.register-page {background: url(../img/reg_bg.jpg) 50% 0 no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
.register-page .part-page {padding: 30px 35px 0 35px;}
.register-page h1 {font-size: 30px; line-height: 38px; font-weight: bold;}
.register-page p {font-size: 16px; margin-bottom: 25px;}
.register-page p.nom {margin-bottom: 0;}
.register-page p.big {font-size: 25px; line-height: 28px;}
.register-page .btn {font-size: 30px; font-weight: 600; padding: 25px 35px; margin-bottom: 0;}
.register-page .part-page.page1 {}
.register-page .part-page.page2 {padding-top: 100px; padding-bottom: 79px;}
.register-page .part-page.page3 {padding-top: 50px;}
.register-page .part-page.page4 {padding-top: 80px;}
.register-page .part-page.page5 {padding-top: 160px; padding-bottom: 70px;}
.register-page .part-page.page5 .big {font-size: 30px;}
.register-page .part-page.page5 p {font-size: 12px;}
.register-page .part-page.page2 .big {font-size: 21px; color: #fff; font-weight: 600;}
.register-page .part-page.page4 ul {margin-top: 20px;}
.register-page .part-page.page4 ul li {color: #fff; list-style-image: url(../img/ar_y_r.png); margin-bottom: 20px; font-weight: bold; font-size: 16px;}

.form-columns {}
.form-columns ul.inline {margin-bottom: 0;}
.form-columns ul.inline li {padding-left: 0; padding-right: 0; padding-bottom: 20px;}
.form-columns .control-group.border {border-bottom: 1px solid #bababa; margin-bottom: 10px; padding-bottom: 10px;}
.form-columns .control-group.nom {margin-bottom: 0;}
.form-columns .control-group.border.nom {margin-bottom: 10px;}

.bottom-pagination {margin-top: 20px; position: static; background: #e9e9e9; border: 1px solid #d0d0d0; border-width: 1px 0; padding-top: 10px; width: 744px; border-right: 1px solid #d0d0d0; padding-right: 5px;}
.brands .bottom-pagination {width: 944px;}

.bottom-pagination:before {width: 1px; height: 42px; position: absolute; top: 0; left: 0; background: #d0d0d0; content: "";}
.bottom-pagination:after {width: 1000px; height: 40px;  border: 1px solid #d0d0d0; border-width: 1px 0; position: absolute; top: -1px; left: 100%; background: #e9e9e9; }
.bottom-pagination .pagination .arrow a {font-size: 18px;}
.bottom-pagination .first-column {padding-left: 10px;}
.bottom-pagination .pagination {margin: 0;}
.bottom-pagination .pagination-column {padding-bottom: 3px;}
.bottom-pagination .show-column {padding-bottom: 7px;}
.bottom-pagination .show-column select {margin: 0 10px 0 10px; padding: 0; padding-left: 5px; height: 20px; background: #8f9297;}
.bottom-pagination select.span2 {width: 50px;}
.bottom-pagination .bottom-pagination-goto {margin-bottom: 0;}
.bottom-pagination .bottom-pagination-goto input {width: 30px; height: 18px; line-height: 18px; padding: 2px 5px;}
.bottom-pagination .bottom-pagination-goto button {padding: 4px 6px;}
.bottom-pagination .bottom-pagination-goto button.btn-with-arrow:after {width: 20px; background-position: 0 50%;}

#partners-footer {overflow: hidden; margin-top: 30px; position: relative;}
#partners-footer .container {padding-top: 20px; border-left: 0px solid #e7e7e7; position: relative;}
#partners-footer .container:before {margin-left: -1000px; width: 1000px; height: 130px; background: #e7e7e7; border-right: 15px solid #feb61d; position: absolute; top: 70px; left: -13px; z-index: 2;}
#partners-footer .container:after {width: 138px; height: 120px; background: url(../img/bg_footer_circle.png) 0 0 no-repeat; position: absolute; top: 0; left: -90px; z-index: 1}
#partners-footer h4 {font-size: 20px; margin-bottom: 20px; padding: 20px 0 10px 50px; margin: 0;}
#partners-footer h4 span {font-weight: normal;}
#partners-footer .wrapper {border-left: 1px solid #fff; padding: 40px 0 40px 0px; position: relative;}
#partners-footer .wrapper:after {background: #a9abad; position: absolute; top: 0; left: 0; height: 1px; width: 2000px; z-index: 9; content: "";}
#partners-footer .thumbnails {margin-bottom: 0;}
#partners-footer .thumbnails li {margin-bottom: 0;}
#partners-footer .thumbnails li:last-child {margin-left: -1px;}
#partners-footer .carousel-buttons {position: absolute; top: 40px; right: 0;}
#partners-footer .carousel-buttons a {display: block; padding: 0px 10px 8px 10px; background: #585e68; color: #fff; font-size: 46px; line-height: 23px;}
#partners-footer .carousel-buttons a:hover {text-decoration: none; background: #7e8185;}
#partners-footer .carousel-buttons li {padding-right: 0; padding-left: 0px;}

#top-footer {background: #e7e7e7; padding-top: 20px;}

#footer {background: #000 url(../img/bg_footer.jpg) 50% 0 repeat-y; padding: 20px 0; }
#footer h4 {color: #e4e5e6; font-weight: 400; font-size: 20px;}
#footer h4 span{font-weight: 600;}
ul.social-list  li {width: 46px; height: 39px;}
ul.social-list  li {padding-left: 0;}
ul.social-list li a {display: block; width: 46px; height: 39px;}
ul.social-list.social-list-white li {width: 39px; padding-right: 2px;;}
ul.social-list li.social-icon-fb a {background: url(../img/ico_fb.png) 50% 50% no-repeat;}
ul.social-list.social-list-white li.social-icon-fb a {background: url(../img/ico_fb_w.png) 50% 50% no-repeat;}
ul.social-list li.social-icon-in a {background: url(../img/ico_in.png) 50% 50% no-repeat;}
ul.social-list.social-list-white li.social-icon-in a {background: url(../img/ico_in_w.png) 50% 50% no-repeat;}
ul.social-list li.social-icon-tw a {background: url(../img/ico_tw.png) 50% 50% no-repeat;}
ul.social-list.social-list-white li.social-icon-tw a {background: url(../img/ico_tw_w.png) 50% 50% no-repeat;}
ul.social-list.social-list-white li.social-icon-gplus a {background: url(../img/ico_gplus.png) 50% 50% no-repeat;}
ul.social-list.social-list-white li.social-icon-user a {background: url(../img/ico_user.png) 50% 50% no-repeat;}
ul.social-list li.social-icon-tube  a{background: url(../img/ico_tube.png) 50% 50% no-repeat;}

#footer .disclaimer-border {border-top: 1px solid #75787f; margin-top: 40px; padding-top: 20px; content: ""}
#footer .disclaimer {color: #b6b8ba;}
#footer .disclaimer p {text-align: right;}
#footer .disclaimer a {color: #b6b8ba;}
#footer .disclaimer ul.inline a {font-size: 16px; padding-right: 20px; background: url(../img/divider.png) 100% 0 no-repeat;}
#footer .disclaimer ul.inline li {padding-left: 0;}
#footer .disclaimer ul.inline li:last-child a {background-image: none;}



/* FUELUX*/
.spinner input {float: left; width: 43px;}
.spinner .btn {position: relative; width: 20px; height: 14px; padding-top: 0; padding-right: 9px; padding-left: 9px;}
.spinner .btn.disabled { cursor: not-allowed;}
.spinner .spinner-buttons {position: relative; left: -22px; float: left; width: 20px; height: 28px;}
.spinner .spinner-up {top: 2px; padding: 0 0 4px 4px;}
.spinner .spinner-up i {position: relative; top: -4px;}
.spinner .spinner-down {top: 2px; height: 13px; padding: 0 0 4px 4px;}
.spinner .spinner-down i {position: relative; top: -5px;}


.select .dropdown-label {display: inline-block; padding: 0 10px 0 0; margin: 0; font-weight: normal; color: #333; text-align: left;}
.select.btn-group .btn{background: #8f9297; padding: 0;}
.select.btn-group .dropdown-arrow {display: inline-block; background: #fff; padding: 5px 9px;}
.select.btn-group .dropdown-label {padding: 5px 9px;}
.select.btn-group.min .dropdown-arrow {padding: 1px 6px 2px;}
.select.btn-group.min .dropdown-label {padding: 1px 6px 2px;}
.select.btn-group .dropdown-menu {text-align: left;}
.select.btn-group.select-white .btn {background: #fff;}


@media (max-width: 979px) {
body {background: url(../img/bg_tablet.jpg) 0 0 repeat;} 

.table-responsive { display: block; position: relative; width: 100%; }
.table-responsive thead { display: block; float: left; }
.table-responsive tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
.table-responsive thead tr { display: block; }
.table-responsive th { display: block; min-height: 1.25em;}
.table-responsive tbody tr { display: inline-block; vertical-align: top; }
.table-responsive td { display: block; min-height: 1.25em; } 

.checkout-list .checkout-list-content .checkout-list-content-row-cell:first-child  { border-left: 0;}
.checkout-list .checkout-list-content .checkout-list-content-row-cell:last-child  { border-right: 0;}
.checkout-list .checkout-list-header .checkout-list-content-row-cell {border-bottom: 10px solid #e2e2e2;}
.checkout-list .checkout-list-content .checkout-list-content-row-cell {border-bottom: 5px solid #e2e2e2;}

.green-stat-box p span {padding-right: 0;}

.product-card-gallery, .product-detail {display: block; float: none; width: 100%; margin-left: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

.product-card-gallery .row {position: relative; margin-left: 10px; display: block !important;}
.product-card-gallery .row > .span1 {position: absolute; top: 30%; z-index: 9; margin: 0; width: 22px;}
.product-card-gallery .row > .span1 .slide-btn {padding-left: 2px;}
.product-card-gallery .row > .span1.slide-left {left: 0; }
.product-card-gallery .row > .span1.slide-right {right: 0;}
.product-card-gallery .row > .span8 {width: 100%; margin: 0 0px;}
.product-card-gallery .row .slides-container li.span2 {float: none; margin: 0 0px; width: 100%; display: block;}
.product-card-gallery .row .thumbnail {z-index: 1;  background: #fff url(../img/ico_preview.png) 99% 98% no-repeat; }

.main-slider-example {background: url(../img/tmp/slider_tablet.jpg) 100% 0 no-repeat; background-size: cover;}
.main-slider-example h1 {font-size: 32px; line-height: 40px;}
.main-slider-example p {font-size: 16px;}
.main-slider-example .price {margin-left: 180px; background: url(../img/slider_price_bg_r_min.png) 100% 0 no-repeat; font-size: 20px; line-height: 28px; padding-right: 13px; margin-bottom: 70px;}
.main-slider-example .price:before {background: url(../img/slider_price_bg_l_min.png) 0 0 no-repeat; width: 13px; height: 32px; left: -13px;}
.main-slider-example .price span {padding: 2px 5px 2px 0;}
.main-slider-example .sale {margin-left: 180px;}
.main-slider-example .main-slider-example-content { background-position: -30px 120px;}

.free-shipping-container:after {background-image: none; width:0;}
.free-shipping-container:before {width: 0;}
.main-home-page {background-image: none;}

.product-detail {margin-top: 20px;}
.product-detail .row-fluid p {color: #5d636d;}
.product-detail .row-fluid .text-white {color: #5d636d;}

.home-info-container {margin-left: 0;}
.home-info-container > [class*="span"] {float: none; width: 100%; display: block; margin-left: 0;}

.bestsellers-list > li {width: 244px;}

.column-wrapper {margin: 0;}

.one-column > [class*="span"] {clear: both; width: 100%; margin-bottom: 20px;}
.btn-list-margin .btn {margin-bottom: 10px;}

.register-page h1 {font-size: 20px; line-height: 22px;}
.register-page p {font-size: 13px; margin-bottom: 20px;}
.register-page p.big {font-size: 18px; line-height: 20px;}
.register-page .btn {font-size: 20px; font-weight: 600; padding: 15px 25px;}
.register-page .part-page.page5 .big {font-size: 22px;}

.panel-menu ul li {padding-left: 10px; padding-right: 30px;}

.news-list p.text-right {text-align: left;}

    .nav-tabs > li {
        float:none;
    }

#footer {background: #000 url(../img/bg_footer_tablet.jpg) 0 0 repeat-x; }
#footer [class*="span"] {clear: both; width: 100%; margin-bottom: 20px;}
}

@media (max-width: 767px) {
.categories-buttons .btn  {float: left;}    
.categories-buttons .btn-group .span12 {width: 100%;}
.panel-black-header .panel-black-header-menu {width: 30%; float: left;}
.panel-black-header .panel-black-header-basket{width: 70%; float: left;}
.panel-black-header .panel-black-header-name {width: 85%; float: left;}
.panel-black-header .panel-black-header-search {width: 15%; float: left;}

.mean-container .mean-nav {width: 200px; position: relative;}

.panel-menu ul li {padding-left: 10px; padding-right: 30px; background: none; width: 100%;}

.checkout-summary dt {width: 60px;}
.checkout-summary dd {margin-left: 80px;}

.products-list .products-list-product {border-right: 0; text-align: left; border-bottom: 1px solid #e3e4e4; padding: 15px 0; background-image: none;}
.products-list .products-list-product .foto {float: left;width: 120px; margin-top: 60px; height: 65px;}
.products-list .products-list-product .foto img {}
.products-list .products-list-product .product-info {margin-left: 120px; /*background: url(../img/pl_shadow.png) 0 100% no-repeat*/; padding-bottom: 3px;}
.products-list .products-list-product .title {margin: 0; height: auto; font-size: 14px; padding-bottom: 10px; margin-bottom: 10px;}
.products-list .products-list-product .price {left: 0; right: auto; top: 20px; background: url(../img/price_corner_r.png) 100% 0 no-repeat; padding-left: 0; padding-right: 9px;}
.products-list .products-list-product .sale {left: 0; right: auto; top: 45px;}

.product-detail {}
.product-detail .row-fluid {border-bottom: 0;}
.product-detail .row-fluid > .span5 {width: 25%; float: left;}
.product-detail .row-fluid > .span8 {width: 30%; margin-left: 5%; float: left;}
.product-detail .row-fluid > .span11 {width: 35%; margin-left: 5%; float: left;}
.product-detail .price-info-container {background: #17b7b5; padding: 10px 0 5px;}
.product-detail .price-info-container .btn-price {background: none; font-size: 14px; padding: 0; display: inline;}
.product-detail .price-info-container .btn-price.btn-inverse {font-size: 16px; padding-bottom: 3px;}
.product-detail .row-fluid.price-info-container .span5 {width: 20%; float: left;}
.product-detail .row-fluid.price-info-container .span8 {width: 17%; margin-left: 5%; float: left;}
.product-detail .row-fluid.price-info-container .span11 {width: 48%; margin-left: 5%; margin-right: 5%; float: left; padding-top: 2px;}
.product-detail .row-fluid.price-info-container .text-spr {font-size: 14px; color: #fff; padding-top: 2px;}
.product-detail .row-fluid.price-info-container .span11 .text-white {font-size: 16px; color: #fff;}

.product-detail .row-fluid.attrs-info-container {padding-bottom: 0; margin-bottom: 0;}
.product-detail .row-fluid.attrs-info-container .span5 {width: 30%;}
.product-detail .row-fluid.attrs-info-container .span8 {width: 65%;}
.product-detail .row-fluid.attrs-info-container .span11 {width: 100%; margin: 15px 0; float: none; display: block; clear: both; text-align: center; border: 1px solid #cbcaca; border-width: 1px 0;}
.product-detail .row-fluid.attrs-info-container .row-basket {border-bottom: 1px solid #cbcaca; padding-bottom: 15px; margin-top: 15px;}
.product-detail .row-fluid.attrs-info-container .row-social {margin-top: 15px;}
.product-detail .row-fluid.row-safety {margin: 0;}
.product-detail .row-fluid.row-safety .span5 {width: 35%;}
.product-detail .row-fluid.row-safety .span19 {width: 60%; margin-left: 5%; float: left;}
.product-detail .row-fluid.row-safety .span19 li {padding-left: 0;}

#products-carousel {padding-bottom: 28px;}
#products-carousel .products-list-arrows a {top:auto; bottom: 0;}
#products-carousel .products-list-arrows a.products-slide-left {left: auto; right: 30px; }

.bottom-pagination {margin-top: 0; background: #fff;}
.bottom-pagination:after {width: 0;}

#partners-footer .thumbnails li {width: 49%; float: left;}

#top-footer [class*="span"] {float: left; width: 49%;}
#top-footer [class="span9"] {width: 100%;}

}

@media (min-width: 768px) and (max-width: 979px) {
.select-account .btn-account {width: 267px;}
#footer .row [class*="span"] {text-align: center;}
#footer .row [class*="span"] input {float: none;}
#footer .row [class*="span"] input[type="checkbox"], #footer .row [class*="span"] input[type="submit"] {display: inline-block;}
#footer .row [class*="span"] input[type="submit"] {margin-bottom: 10px;}
#footer .row [class*="span"] div {margin-bottom: 10px;}

}
@media (min-width: 1024px) {
.select-account .btn-account {width: 195px;}

}

@media (max-width: 480px) {

.checkout-list {display: block; padding: 10px 0;}    
.checkout-list .checkout-list-content-row {display: block; border: 0; margin-bottom: 20px;}    
.checkout-list .checkout-list-content-row-cell {display: block;  padding: 0 10px 5px 10px; background: #a2a2a2; clear: both;}  
.checkout-list .checkout-list-content-row-cell.checkout-list-content-column-photo, .checkout-list .checkout-list-content-row-cell.checkout-list-content-column-desc {background: transparent; clear: none;}  
.checkout-list .checkout-list-content .checkout-list-content-row-cell {border-bottom: 0;}
.checkout-list .checkout-list-header {display: none;}
.checkout-list .checkout-list-content-row-cell.checkout-list-content-column-photo {float: left; width: 40%; padding: 5px 0; background: #fff;}
.checkout-list .checkout-list-content-row-cell.checkout-list-content-column-desc {float: left; width: 53%; margin-left: 5%; padding: 5px 0;}
.checkout-list .checkout-list-content-row-cell.checkout-list-content-column-desc:after {position: relative;content:"";}
.checkout-list .checkout-list-content-column-desc + .checkout-list-content-row-cell {padding-top: 10px;}
.checkout-list .checkout-list-content-row-cell.checkout-list-content-column-total p {font-size: 18px; line-height: 24px; font-weight: bold; border-bottom: 1px solid #fff; }
.checkout-list .checkout-list-content-column-remove {text-align: left; padding-top: 5px;}
.checkout-list .checkout-list-content-column-remove .text-desc {margin-left: 5px;}
.checkout-list .checkout-list-content-column-quantity {}
.checkout-list .checkout-list-content p {color: #2d343e;}
.checkout-list .checkout-list-content .checkout-spinner {display: inline-block;}
.checkout-list .checkout-list-content .checkout-spinner .spinner-input {margin-bottom: 0;}
.checkout-list .text-desc {display: inline; margin-right: 5px; color: #fff;}
.checkout-list .checkout-list-content-column-quantity .text-desc {float: left; position: relative; top: 4px;}
.checkout-list .checkout-list-content .text-warning {color: #fff;}
.checkout-list.checkout-list-review .checkout-list-content-row {border-bottom: 1px solid #a1a1a1;}
.checkout-list.checkout-list-review .checkout-list-content-row-cell {background: #dbdbdb; padding-bottom: 2px;}
.checkout-list.checkout-list-review .checkout-list-content-column-desc {border-bottom: 1px solid #fff; float: none; width: 100%; padding: 5px; margin-left: 0;}
.checkout-list.checkout-list-review .checkout-list-content-row-cell.checkout-list-content-column-price p {font-size: 14px; font-weight: normal;}
.checkout-list.checkout-list-review .checkout-list-content-row-cell.checkout-list-content-column-total p {border-bottom: 0; font-size: 14px; line-height: 20px; font-weight: normal;}
.checkout-list.checkout-list-review .checkout-list-content .text-warning {color: #444444; font-weight: normal;}
.checkout-list.checkout-list-review .text-desc {color: #444444;}
.checkout-list.checkout-list-review {}
.checkout-list.checkout-list-review {}

.free-shipping-container {padding-left: 10px; background-position: 150% 0;}
.newsletter-container {padding-left: 10px; background-position: 10% -20px;}
.bestsellers-list > li {width: 100%;}

.main-slider-example {background: url(../img/tmp/slider_min.jpg) 100% 0 no-repeat; padding-bottom: 0; min-height: 250px;}
.main-slider-example .main-slider-example-content {width: 100%; position: absolute; bottom: 0; left: 0; background-image: none; margin-left: 0;}
.main-slider-example .main-slider-example-content .inner {padding: 10px; background: url(../img/bg_black_trans.png) 0 0 repeat; }
.main-slider-example h1 {font-size: 14px; line-height: 18px; color: #249a9b;}
.main-slider-example p {font-size: 12px; margin-bottom: 0;}
.main-slider-example .text {margin-bottom: 0; color: #fff;}
.main-slider-example .price {display: none;}
.main-slider-example .sale {display: none;}

}

@media (min-width: 321px) and (max-width: 600px) {
.register-page {background: url(../img/reg_bg_tablet.jpg) 50% 0 no-repeat;}
.register-page .part-page.page1 {padding-left: 40%;  }
.register-page .part-page.page2 {padding-right: 40%; padding-top: 200px;}
.register-page .part-page.page3 {padding-left: 40%; padding-top: 130px;}
.register-page .part-page.page4 {padding-top: 120px;}
.register-page .part-page.page4 ul li {margin-bottom: 10px;}
.register-page .part-page.page5 {}    
}

@media (max-width: 320px) {
.register-page {background: url(../img/reg_bg_phone.jpg) 50% 0 no-repeat;}    
.register-page .part-page {padding: 20px 10px 0 10px;}
.register-page .part-page.page2 {padding-top: 170px;}
.register-page .part-page.page2 p.big {font-size: 14px;}
.register-page .part-page.page3  {padding-top: 180px;}
.register-page .part-page.page4  {padding-top: 280px;}
.register-page .part-page.page4 ul li {margin-bottom: 5px; font-size: 14px;}
.register-page .part-page.page5 {padding-bottom: 140px;}
.register-page .part-page.page5 p {font-size: 14px;}
.register-page .part-page.page5 p.big {font-size: 30px; line-height: 34px; margin-bottom: 50px;}
}

/********** list2.html ************/
#list-oneByRow {list-style: none; margin: 20px 0 0 0;}
#list-oneByRow li {position: relative; box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); float: left; clear: both; width: 100%; margin-bottom: 13px; background: #ffffff;}
#list-oneByRow li > div {float: left; border-right: 1px solid #d3d5d8; padding: 0 5px; margin: 5px 0; min-height: 54px; color: #353c48;}
#list-oneByRow li > div:first-child {width: 82px;}
#list-oneByRow li > div:first-child + div {width: 59%;}
#list-oneByRow li > div:first-child + div + div {width: 9%;}
#list-oneByRow li > div:first-child img {float: left; padding: 5px 15px;}
#list-oneByRow li > div:first-child + div {}
#list-oneByRow li > div:last-child {border-right: 0; margin: 18px 0 0 8px; min-height: 0;}
#list-oneByRow li > div > p > a.btn-with-arrow {padding: 7px 5px;} /* dodane, aby nie rozwalalo ukladu po poprawkach szerokosci kolumn */
#list-oneByRow li .title {float: left; font-size: 15px; border-bottom: 3px solid #ff9908; padding-bottom: 6px; width: 95.5%; margin: 0 10px;}
#list-oneByRow li .title + div {float: left; clear: both; margin: 0 10px;}
#list-oneByRow li .stat {float: left; margin-bottom: 0; font-size: 12px; font-weight: 400; margin-top: 6px; margin-right: 20px;}
#list-oneByRow li .price {font-weight: bold; font-size: 14px; line-height: 19px; text-align: center; margin-top: 18px; font-size: 18px; word-wrap: break-word;}
#list-oneByRow li .sale {margin-bottom: 0; display: inline-block; margin-left: 10px; background: url(../img/sale_corner.png) 100% 0 no-repeat; font-weight: bold; font-size: 14px; padding-right: 10px;}
#list-oneByRow li .sale span {background: #17b7b5; color: #fff; padding: 1px 10px;}

@media(max-width: 980px) {
	#list-oneByRow li > div:first-child {border: 0;} /* obrazek */
	#list-oneByRow li > div:first-child + div  {float: right; width: 80%; border: 0;} /* opis */
	#list-oneByRow li > div:first-child + div + div {position: absolute; left: 12px; bottom: 0; border: 0; width: auto; min-height: 0;} /* cena */
	#list-oneByRow li > div:first-child + div + div  + div {float: right; margin-right: 12px;} /* wiecej */
}

@media(max-width: 570px) {
	#list-oneByRow li > div:first-child + div  {float: left; clear: left; width: 95%;} /* opis */
}

/********** end of list2.html ************/




/********** new css 04.04.2014 - Robert Jarlaczyk ************/
.panel-text-header.panel-text-header-wizard {background: #212731;}
.nav-wizard_basket ul {
		list-style: none;
		margin: 0;
		}

.nav-wizard_basket ul li {
		float: left;
		}

.nav-wizard_basket ul li a {
		display: block;
		padding: 0 40px 0 23px;
		line-height: 62px;
		color: #464e5a;
		font-weight: 700;
		font-size: 16px;
		background: url(../img/wizard-step_black-bg.png) 100% 0 no-repeat;
		}

.nav-wizard_basket ul li a span {
		color: #cbcdd0;
		font-weight: 600;
		}
		
.nav-wizard_basket ul li.active a {
		color: #ffa914;
		}

.nav-wizard_basket ul li.selected a {
		color: #cbcdd0;
		}

.nav-wizard_basket ul li a:hover {
		color: #ffa914;
		text-decoration: none;
		}

.checkout-summary dd {
		margin-left: 110px; 
		}
		
#top_space {
		margin-top: 20px;
		}
		
.paymentFormBox {
		margin-left: 20px;
		display: inline;
		}

.paymentFormBox a {
		margin-right: 3px;
		}
		
/*.column-wrapper .column-wrapper-background {
		min-height: 600px;
		}*/

.label-inline {
		line-height: 30px;
		}
		
form .btn {
		background: #feb61d;
		border: 1px solid #DADADA;
}

form .dropdown-menu {
		border-radius: 0;
		}
		
form .dropdown-menu > li > a:hover,
form .dropdown-menu > li > a:focus,
form .dropdown-submenu:hover > a,
form .dropdown-submenu:focus > a {
		background-color: #232934;
		}
		
.bootstrap-select.btn-group .btn .filter-option {
		color: #DADADA;
		}

.column-wrapper .column-wrapper-review {
		padding: 20px; 
		margin: 0 0 0 20px; 
		color: #2c333e;
		}

.column-wrapper .column-wrapper-review .span8 {
		margin-left: 0;
		}

.checkout-delivery {
		padding-bottom: 30px;
		}

.checkout-list-content p.text-info {
		color: #17B7B5;
		}

.panel-text-white {
		padding: 10px 20px;
		}

/******** about_us **********/
.about_us-page {
		background: url(../img/bg-about_us.jpg) -1px 0 no-repeat;
		color: #232a34;
		font-size: 16px;
		line-height: 24px;
		}
		
.about_us-page p {
		margin-bottom: 30px;
		}

.about_us-page .semibold {
		font-weight: 600;
		}

.about_us-page .big {
		font-weight: 300;
		font-size: 35px;
		line-height: 1.1;
		}
		
.about_us-page .part-page {
		padding: 0 30px;
		}

.about_us-page .part1 {
		padding-top: 42px;
		margin-bottom: 180px;
		}
		
.about_us-page .part2 {
		margin-bottom: 120px;
		}

.about_us-page .part3 {
		padding-bottom: 80px;
		}

.about_us-page .part2 .text-white {
		color: #fff;
		}

/****** our_accreditation ********/
.our_accreditation {
		padding: 26px;
		position: relative;
		line-height: 24px;
		}

.our_accreditation .mask {
		opacity: 0.7;
		background: #fff;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		}

.accreditationBox {
		background: url(../img/frame-our_accreditation.png) 0 0 no-repeat;
		margin-bottom: 30px;
		padding: 1px 0 0 1px;
		height: 193px;
		}

.accreditationBox .inner {
		padding-top: 40px;
		}

.accreditationBox .inner .big {
		font-size: 30px;
		font-weight: 300;
		}

.accreditationBox .inner .semibold {
		font-weight: 600;
		}

@media all and (max-width: 760px) and (min-width: 300px) {
	.about_us-page {
		background-image: none;
		background-color: lightgrey;
	}
	.about_us-page .part1,
	.about_us-page .part2,
	.about_us-page .part3 {
		padding-bottom: 0;
		margin-bottom: 0;
	}
	#partners-footer .container:before {
		display: none !important;
	}
	#partners-footer .wrapper {
		border-style: none;
	}
}



/******home********/
input.input-cart {
		width: 162px;
		display: block;
		background-color: #f1a01a;
		color: #fff;
		border: 0;
		padding: 6px 16px;
		font-weight: 700;
		}

.info-customer {
		color: #2c333e;
		clear: both;
		font-size: 14px;
		display: block;
		margin: -10px 0 10px 0;
		}
		
#header-right-column .leftBox {
		float: left;
		width: 194px;
		}

#header-right-column .rightBox {
		float: right;
		margin-left: 3px;
		}
		
#header-right-column .rightBox button {
		width: 33px;
		background: #eeeeee url(../img/arrow-button-right.png) 50% 50% no-repeat;
		border: 0;
		height: 74px;
		}
		
/******* card *******/		
#tab-reviews .box1 {
		float: left;
		margin-right: 16px;
		}

#tab-reviews .box2 {
		float: left;
		padding-top: 16px;
		font-size: 16px;
		color: #2f3641;
		}

#tab-reviews .row-fluid .span12 {
		padding: 26px;
		}
		
#tab-reviews .row-fluid:nth-child(even) {
		background: #fff;
		opacity: 0.8;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		}	 

#tab-media .rating-stars {
		float: left;
		}

#tab-media .rating-stars a {
		float: left;
		}

#tab-media .label-stars {
		float: left;
		line-height: 29px;
		margin-right: 14px;
		}
		
#texarea-media {
		height: 110px;
		}
		
.mediaSubmitForm {
		float: right;
		border: 0;
		padding: 7px 35px 7px 20px;
		color: #fff;
		background: #FF9908 url(../img/icon-submit.png) 90% 50% no-repeat;
		}
		
.opinion .header {
		border-bottom: 1px solid #fff;
		padding-bottom: 10px;
		}
		
.opinion .author {
		float: left;
		font-size: 16px;
		font-weight: 700;
		color: #2a303a;
		padding-right: 18px;
		margin-right: 9px;
		background: url(../img/ar_y_r_min.png) 100% 50% no-repeat;
		}

.opinion .date {
		float: left;
		font-weight: 600;
		}

.opinion .rating {
		float: right;
		}

.opinion .inner {
		padding: 16px 0 40px 0;
		}
		
#product-card-menu {
		height: auto !important;
		}


/*****popup*****/
.popup {
		max-width: 532px;
		border: 1px solid #fff;
		margin: 100px auto 0;
		}
		
.popup .header {
		height: 62px;
		line-height: 62px;
		padding: 0 14px 0 30px;
		background: #222833 url(../img/bg-popup-header.jpg) 0 0 no-repeat;
		color: #fff;
		}

.popup .header2 {
		min-height: 38px;
		line-height: 38px;
		background: #fff;
		padding: 0 30px;
		font-size: 18px;
		color: #252c36;
		}

.popup .header2 .small {
		font-size: 12px;
		}

.popup .header .closePopup{
		float: right;
		margin: 17px 14px 0 0;
		width: 30px;
		height: 30px;
		background: url(../img/icon-popup-close.png) 0 0 no-repeat;
		}
		
.popup .contentPopup {
		padding: 18px;
		background-color: #e0e0e0;
		}

.form-popup-edit_basket .btn:hover,
.form-popup-edit_basket .btn:focus {
  color: #333333;
  text-decoration: none;
}

.form-popup-edit_basket .col1 {
		text-align: right;
		line-height: 33px;
		padding-right: 5px;
		}		

.form-popup-edit_basket .col2 {
		line-height: 33px;
		}		

.form-popup-edit_basket .big {
		font-size: 22px;
		font-weight: 700;
		}	
		
.form-popup-edit_basket .footerPopupWrapper {
		padding: 18px;
		margin-left: 0;
		background-color: #e0e0e0;
		}		

.form-popup-edit_basket .footerPopup {
		border-top: 3px solid #fff;
		padding-top: 18px;
		}		
		
.form-popup-edit_basket .action-form a {
		float: right;
		margin-left: 16px;
		}
		
.tag-boxShadow {
		  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		}
		
.form-popup-edit_basket .spinner-buttons .btn {
		outline: none;
		background-color: #ECECEC;
		}

.form-popup-edit_basket .input-size .btn-group.bootstrap-select.input-mini {
		width: 100%;
		}
		
.form-popup-chat .header2 .small {
		font-size: 14px;
		}

.form-popup-chat .popupChatMsg {
		height: 210px;
		}

.form-popup-chat .submitRow .control-group {
		padding: 14px;
		background-color: #202630;
		margin-bottom: 0;
		}

.form-popup-chat .submitRow .span6 {
		margin-left: 0;
		}

.form-popup-chat .submitRow .btn-with-arrow {
		padding: 6px 10px;
		}		
		
		
		
@media (max-width: 991px) {
.accreditationBox {
		background: none;
		padding: 0;
		height: auto;
		margin-bottom: 60px;
		}
.accreditationBox .inner {
		padding-top: 20px;
		}
		
.paymentFormBox {
		margin: 7px 0 0 7px;
		display: block;
		}
}
@media (max-width: 767px) {
.nav-wizard_basket ul li {
		float: none;
		}

.nav-wizard_basket ul li a {
		display: inline-block;
		padding: 0 0 0 23px;
		margin-bottom: 1px;
		width: 218px;
		}

.bottomSpace {
		margin-bottom: 10px;
		}
		
.accreditationBox .inner {
		padding-top: 60px;
		}
		
#tab-reviews .row-fluid:nth-child(even) {
		background: none;
		opacity: 1;
		border-top: none;
		border-bottom: none;
		}	
		
.form-popup-edit_basket .col1 {
		text-align: left;
		float: left;
		}		

.form-popup-chat .message-submit {
		width: 121px;
		margin-top: 7px;
		}

}
/* Added 2014-04-30 */
.checkout-list-content-row-cell-full {
	display: block;
	width: 915px;
	padding: 10px 10px 10px 25px;
	background-color: #fff;
	font-weight: 600;
}
.under-checkout-list-content-row-cell-full {
	display: block;
	width: 915px;
	padding: 30px 10px 30px 25px;
	background-color: #e2e2e2;
}
@media all and (max-width: 760px) and (min-width: 300px) {
	.under-checkout-list-content-row-cell-full,
	.checkout-list-content-row-cell-full {
		width: auto;
	}
	.under-checkout-list-content-row-cell-full h1 {
		line-height: 1.1;
	}
}
.under-checkout-list-content-row-cell-full h1 {
	font-size: 25px;
	color: #2c333e;
	font-weight: 500;
	padding: 0 0 10px 0;
}
.under-checkout-list-content-row-cell-full span {
	font-size: 16px;
}
.under-checkout-list-content-row-cell-full span.message_1 {
	font-weight: 400;
}
.under-checkout-list-content-row-cell-full span.message_2 {
	font-weight: 600;
	color: #2c333e;
}
.under-checkout-list-content-row-cell-full span.order_number {
	font-size: 19px;
	font-weight: 900;
	color: #ffa914;
}
.boldify_me {
	border: 0 !important;
	color: #7f7f7f !important;
 	font-size: 16px !important;
 	font-weight: 900;
 	text-align: center;
}
/* END OF - Added 2014-04-30 */
/* Newsletter signup - footer */
.span7.nl_signup {
	padding-left: 24px;
	font-size: 13px !important;
	line-height: 1;
}
.span7.nl_signup div {
	width: 100%;
	height: 30px;
	clear: both;
}
.span7.nl_signup a {
	color: #ccc;
	font-style: italic;
	text-decoration: underline;
}
.span7.nl_signup a:hover {
	color: #fff;
}
.span7.nl_signup input[type="email"] {
	font-style: italic;
	width: 160px;
	float: left;
	border: 1px solid white;
}
.span7.nl_signup input[type="checkbox"] {
	display: block;
	float: left;
	margin-top: 0px;
	margin-right: 4px;
}
.span7.nl_signup input[type="submit"] {
	display: block;
	width: 70px;
	float: left;
	text-align: center;
	color: white;
	border: 1px solid #feb61d;
	font-weight: 400;
	font-size: 15px;
	text-shadow: 1px 1px 5px rgba(102, 93, 97, 1);
}
.span7.nl_signup input[type="submit"]:hover {
	border: 1px solid white;
}
/* // Newsletter signup - footer */
.span12.one_damn_pixel_really {
	margin-top: -3px;
}
.btn.dropdown-toggle.btn-default {
	background-color: white;
}
.fix_my_width {
	width: 944px;
}
.minus_my_margin_top {
	margin-top: -57px;
}
.minus_me_again {
	padding-bottom: 0 !important;
}
.make_me_middle {
	margin-top: 4px;
}
.make_me_wiiider {
	width: 784px !important;
}
.make_me_narrow {
	width: 150px !important;
}

//tabet
@media (min-width: 768px) and (max-width: 979px) {
    
}



@media (min-width: 301px) and (max-width: 600px) {
	.fix_my_width {
		width: 100%;
		border: 0px solid white;
		padding: 4px 0;
	}
}
.mobile_search {
	display: none;
}
@media (min-width: 301px) and (max-width: 480px) {
	.mobile_search {
		display: block;
		width: 100%;
		float: left;
		margin-top: 10px;
	}
	.mobile_search form, .mobile_search form .input-append {
		width: 100%;
		margin: 0;
	}
	.mobile_search form .input-append {
		padding-right: 10px;
	}
	.mobile_search .span6.input-grey {
		width: 75%;
	}
	.mobile_search .btn {
		width: 25%;
		height: 30px;
		border: 0;
		text-align: center;
		color: white;
		font-weight: bold;
	}
	.products-list .products-list-product .product-info {
		background: none;
	}
	.btn-group > .btn:first-child {
		margin-left: 0;
		width: 58%;
	}
	.basket-box {
		font-size: 16px;
		font-weight: bold;
		background: #f1a01a;
		margin-top: 10px;
		width: 69%;
	}
}
.le_bestsellers {
	margin-top: 22px;
}

@media (max-width: 979px) {
	.span7.nl_signup {padding-left: 0;}
	.panel-black-header-basket p {
		display: none;
	}
	#search-box {
		float: right;
		position: static;
	}
	.btn.btn-with-arrow,
	#list-oneByRow li .price {
		display: block;
		float: right;
	}
	.btn.btn-with-arrow {
		margin-bottom: 10px;
	}
}